hr{width:670px;
a}
body{
  color:#2E8A99;
background:#D6E4E5;
font-family:comic sans ms}
h1{
  text-align:center;
  font-family:comic sans ms;}
.box{}
#b1{border:4px solid #EB6440; width: 10%; margin: 10px; padding: 19px;}
